
body { 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	background-color: #570303; 
	margin-top: 20px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 100%; 
} 

#calculator { 
	background-color: #e7ff72; 
	padding: 25px; 
	width: 500px; 
	border-radius: 10px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
	text-align: center; 
} 

button { 
	margin-top: 15px; 
	padding: 12px 20px; 
	background-color: #7c0707; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	font-size: 14px; 
} 

li { 
	margin-bottom: 10px; 
	list-style-type: none; 
} 

input, 
select { 
	width: calc(100% - 15px); 
	padding: 10px; 
	margin-bottom: 15px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	box-sizing: border-box; 
	font-size: 14px; 
} 

h2, 
h3 { 
	margin-bottom: 20px; 
	color: #333; 
} 

#cgpa { 
	font-size: 24px; 
	font-weight: bold; 
	color: #001946; 
} 

#subjectList { 
	text-align: left; 
} 

button.edit, 
button.delete { 
	padding: 8px 15px; 
	margin-left: 5px; 
	font-size: 12px; 
	cursor: pointer; 
} 

button.delete { 
	background-color: #d9534f; 
} 

.error { 
	color: #5e0502; 
	font-size: 25px; 

} 

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin-top: 20px; 
} 

th, 
td { 
	border: 1px solid #ddd; 
	padding: 8px; 
	text-align: left; 
} 

th { 
	background-color: #f2f2f2; 
}
.cla{
    background-color: #e6aa96;
    color: #370101;
}